In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [ ]:
path = '/content/Data Problem.csv'
df = pd.read_csv(path)
df

    Observation  x1   x2     x3
0             1  33  371  189.0
1             2  28  752    NaN
2             3  24  673  204.0
3             4  17  NaN  151.0
4             5  20   66  191.0
..          ...  ..  ...    ...
86           87  18  412  137.0
87           88  28  629  139.0
88           89  22  167  125.0
89           90  35  842  126.0
90           91  38  180  151.0

[91 rows x 4 columns]

In [ ]:
# Check NaN count in the dataset
nan_count = df.isna().sum()

# Print the NaN count for each column
print(nan_count)

Observation    0
x1             1
x2             3
x3             5
dtype: int64

In [ ]:
df[27:35]

    Observation      x1   x2     x3
27           28      23  558  166.0
28           29      23  740  120.0
29           30      26   81    NaN
30           31      22   50  142.0
31           32      24  720  130.0
32           33      14  673  131.0
33           34  #NAME?  173  160.0
34           35      26  507   98.0

In [ ]:
path = '/content/Data Problem.xlsx'
df2 = pd.read_excel(path)
df2

    Observation    x1     x2     x3
0             1  33.0  371.0  189.0
1             2  28.0  752.0    NaN
2             3  24.0  673.0  204.0
3             4  17.0    NaN  151.0
4             5  20.0   66.0  191.0
..          ...   ...    ...    ...
86           87  18.0  412.0  137.0
87           88  28.0  629.0  139.0
88           89  22.0  167.0  125.0
89           90  35.0  842.0  126.0
90           91  38.0  180.0  151.0

[91 rows x 4 columns]

In [ ]:
# Check NaN count in the dataset
nan_count = df2.isna().sum()

# Print the NaN count for each column
print(nan_count)

Observation    0
x1             2
x2             4
x3             5
dtype: int64

In [ ]:
filter = df2['x2'] > 470

df[filter].shape

(51, 4)

In [ ]:
from sklearn.impute import SimpleImputer

# Create an instance of SimpleImputer with strategy='mean'
imputer = SimpleImputer(strategy='most_frequent')

# Fit the imputer to the data
imputer.fit(df2)

# Transform the data by replacing missing values with the mean
df2_filled = imputer.transform(df2)

df2

    Observation    x1     x2     x3
0             1  33.0  371.0  189.0
1             2  28.0  752.0  140.0
2             3  24.0  673.0  204.0
3             4  17.0  673.0  151.0
4             5  20.0   66.0  191.0
..          ...   ...    ...    ...
86           87  18.0  412.0  137.0
87           88  28.0  629.0  139.0
88           89  22.0  167.0  125.0
89           90  35.0  842.0  126.0
90           91  38.0  180.0  151.0

[91 rows x 4 columns]

In [ ]:

df2['x1'].fillna((df2['x1'].value_counts().idxmax()), inplace=True)

df2['x2'].fillna((df2['x2'].value_counts().idxmax()), inplace=True)

df2['x3'].fillna((df2['x3'].value_counts().idxmax()), inplace=True)

df2

    Observation    x1     x2     x3
0             1  33.0  371.0  189.0
1             2  28.0  752.0  140.0
2             3  24.0  673.0  204.0
3             4  17.0  673.0  151.0
4             5  20.0   66.0  191.0
..          ...   ...    ...    ...
86           87  18.0  412.0  137.0
87           88  28.0  629.0  139.0
88           89  22.0  167.0  125.0
89           90  35.0  842.0  126.0
90           91  38.0  180.0  151.0

[91 rows x 4 columns]

In [ ]:
#a. How many observations have x1 values greater than 30?

In [ ]:
#b. Sort the data by x1 in ascending order. What are the x1, x2, and x3 values of the first observation after the data are sorted?

In [ ]:
#c. Sort the data by x1 in descending order. What are the x1, x2, and x3 values of the first observation after the data are sorted?

In [ ]:
#d. How many missing values are there in x1, x2, and x3?